/*
todo: include all your styling needs here
*/
/* Start All Your Styles*/
/*==================================================================*/


/*==================================================================*/
/*End of Styles*/


/*==================================================================*/
/* Example Answer (Do not remove)*/
div.example {
    margin: 25px;
    font-size: 22px;
    font-weight: bold;
}

/* Instructions Styles*/
div.instructions {
    margin: 10px 0;
    padding: 10px 20px;
}
div.instructions > ul > li {
    font-size: 15px;
    padding: 8px;
}